<nav class="flex justify-between py-5 items-center" id="navbar">
  <a
    routerLink=""
    class="text-2xl font-bold text-[#e50914] tracking-[-2px] [text-shadow:0_0_20px_rgba(229,9,20,0.5)]"
    >MoodFlix</a
  >
  <ul class="flex gap-8">
    <li>
      <a
        routerLink=""
        routerLinkActive="text-[#e50914] [text-shadow:0_0_20px_rgba(229,9,20,0.5)]"
        [routerLinkActiveOptions]="{ exact: true }"
        class="active hover:text-[#e50914] transition-all duration-150 ease-linear hover:[text-shadow:0_0_20px_rgba(229,9,20,0.5)]"
        >Home</a
      >
    </li>
    <li>
      <a
        routerLink="my-list"
        routerLinkActive="text-[#e50914] [text-shadow:0_0_20px_rgba(229,9,20,0.5)]"
        class="hover:text-[#e50914] transition-all duration-150 ease-linear hover:[text-shadow:0_0_20px_rgba(229,9,20,0.5)]"
        >My List</a
      >
    </li>
    <li>
      <a
        routerLink="popular"
        routerLinkActive="text-[#e50914] [text-shadow:0_0_20px_rgba(229,9,20,0.5)]"
        class="hover:text-[#e50914] transition-all duration-150 ease-linear hover:[text-shadow:0_0_20px_rgba(229,9,20,0.5)]"
        >Popular</a
      >
    </li>
  </ul>
</nav>
