/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

body {
  font-family: 'Alan Sans', sans-serif;
  background: #141414;
  min-height: 100vh;
  color: #ffffff;
  overflow-x: hidden;
  font-optical-sizing: auto;
}
